  .nav-myPageMenu {
    padding-top: 200px;
    color: #000;
  }
  
  .nav-myPageMenu li {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .nav-myPageMenu li:hover {
    text-shadow: 0px 0px 5px rgb(255, 116, 139);
  }
  