.FindPassword {
  color: #8A7968;
  width: 60%;
  margin: 130px auto auto auto;
}

.FindPassword h2 {
  text-align: center;
}

.FindField {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px; /* 각 필드 간격 */
}

.FindField p {
  flex: 0 0 100px; /* 레이블 고정 너비 */
  text-align: center;
  font-size: 1rem;
}

.FindField input {
  flex: 1; /* 입력 필드가 나머지 공간 차지 */
  padding: 10px;
  border: none;
  background-color: #e5e3e3;
  border-radius: 30px;
  font-size: 1rem;
}

.FindField button {
  padding: 10px 20px;
  border: none;
  background-color: #bfbebe;
  border-radius: 30px;
  font-size: 1rem;
  color: white;
  font-weight: bolder;
}

.signUpAlarm {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.signUpSubmit {
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* 버튼 간격 */
}

.signUpSubmit button {
  padding: 10px 40px;
  background-color: #8A7968; /* 버튼 색상 */
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  margin: auto;
}

.signUpSubmit button:hover {
  font-weight: bolder;
}