.itemForRecommend {
    background-color: #8A7968;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    height: 400px;
  }
  
  .itemRecoTitle {
    background-color: #fff;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
    margin: 5px 0px 20px 0px;
    color: #4e4e4e;
  }
  
  .itemRecoList {
    background-color: #fff;
    list-style: none;
    padding: 20px;
    border-radius: 10px;
    margin: 0;
    overflow-y: auto; /* 내용이 넘치면 스크롤 활성화 */
    height: calc(100% - 90px);
  }
  
  .itemRecoListItem {
    font-size: 15px;
    padding: 5px 0;
    color: #333;
    text-align: left;
  }
  